<!DOCTYPE html>
<html>
<head>
<title>Red Cross Disaster Mapping</title>
  <!-- TODO: Remove this reference and use the Google Maps Rails GEM!!!!! -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
